@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --prim: #066dca;
  --prim-light: #f3f9ff;
  --text-color: #222e48;
  --pera: #404a60;
  --secondary: #f37739;
  --white: #fff;
  --black: #000;

  --font-chakraPetch: "Chakra_Petch", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-sora: "Sora", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;

  --transition-fast: 0.3s ease-in-out;
  --transition-slow: 0.5s ease-in-out;
}

.ChakraPetch {
  font-family: var(--font-chakraPetch);
}

.Inter {
  font-family: var(--font-inter);
}

.Poppins {
  font-family: var(--font-poppins);
}

.Unbounded {
  font-family: var(--font-unbounded);
}

.Sora {
  font-family: var(--font-sora);
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-poppins);
}

body {
  overflow-x: hidden;
}

/* Navbar */
.nav-menu li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--prim);
  transition: var(--transition-fast);
}

.nav-menu li:hover::after {
  height: 100%;
}

/* Hero */
.hero {
  background-image: url(../public/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-image: url(../public/cloud-shap-img1.png);
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.element1 {
  animation: rotation 8s linear infinite;
}

@keyframes scalation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.element2 {
  animation: scalation 8s linear infinite;
}

@keyframes walking {
  0% {
    transform: translate(0px) rotate(0deg);
  }

  50% {
    transform: translate(100px) rotate(180deg);
  }

  100% {
    transform: translate(0px) rotate(360deg);
  }
}

.element3 {
  animation: walking 10s linear infinite;
}

.element4 {
  animation: walking 10s linear infinite;
}

.element5 {
  animation: scalation 8s linear infinite;
}

@media screen and (max-width: 767.98px) {
  .hero::after {
    height: 250px;
  }
}
