@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --prim: #066dca;
  --prim-light: #f3f9ff;
  --text-color: #222E48;
  --pera: #404A60;
  --secondary: #f37739;
  --white: #fff;
  --black: #000;

  --font-chakraPetch: "Chakra_Petch", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
    --font-sora: "Sora", sans-serif;
  --font-unbounded: "Unbounded", sans-serif;

  --transition-fast: .3s ease-in-out;
  --transition-slow: .5s ease-in-out;
}

.ChakraPetch{
  font-family: var(--font-chakraPetch);
}

.Inter{
  font-family: var(--font-inter);
}

.Poppins{
  font-family: var(--font-poppins);
}

.Unbounded{
  font-family: var(--font-unbounded);
}

.Sora{
  font-family: var(--font-sora);
}

*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-poppins);
}

body{
  overflow-x: hidden;
}
